<h2>Todo</h2>
<div class="container">

    <div class="alert alert-warning" *ngIf="todoForm.invalid && todoForm.dirty">Enter Valid Values</div>
    <div class="alert alert-warning" *ngIf="todoForm.invalid && todoForm.dirty && targetDate.invalid">Enter Valid Target
        Date</div>
    <div class="alert alert-warning" *ngIf="todoForm.invalid && todoForm.dirty && description.invalid">Enter atleast 5
        characters in Description</div>

    <form (ngSubmit)="!todoForm.invalid && saveTodo()" #todoForm="ngForm">
        <fieldset class="form-group">
            <label for="description">Description</label>
            <input #description="ngModel" type="text" [(ngModel)]="todo.description" class="form-control"
                name="description" required="required" minlength="5">
        </fieldset>

        <fieldset class="form-group">
            <label for="targetDate">Target Date</label>
            <input #targetDate="ngModel" type="date" [ngModel]="todo.targetDate | date:'yyyy-MM-dd' "
                (ngModelChange)="todo.targetDate = $event" class="form-control" name="targetDate" required="required">
        </fieldset>

        <button type="submit" class="btn btn-success">Save</button>
    </form>
</div>